body,html{
    margin: 0px;
    padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  /* background-image:  linear-gradient(to bottom right,PURPLE , BLUE); */
  padding: 0.375rem;
  font-family: Poppins, sans-serif;
  position: relative;
}
.container{
    width: 25vw;
    margin-top: 12vw;
    height: 25vw;
    border: 2px solid black;
    margin-left: 36vw;
    display: flex;
    justify-content: center;
}
.form-grp .box{
    margin-top: 2vw;
    font-size: 18px;
    width: 21vw;
    padding: 12px;
    background-color: black;
    border-radius: 2vw;
    color: white;
}
.submit-btn {
    margin-top: 2vw;
    margin-left: 6vw;
    width: 8vw;
    height: 3vw;
    background-color: black;
    color: white;
    border-radius: 2vw;
}
.submit-a{
    color: white;
    text-decoration: none;
}